@define-color foreground #000;
@define-color background #000;
@define-color cursor #000;
@define-color color0  #000;
@define-color color1 #000;
@define-color color2 #000;
@define-color color3 #000;
@define-color color4 #000;
@define-color color5  #000;
@define-color color6 #000;
@define-color color7 #000;
@define-color color8 #000;
@define-color color9 #000;
@define-color color10 #000;
@define-color color11 #000;
@define-color color12 #000;
@define-color color13 #000;
@define-color color14 #000;
@define-color color15 #000;

*{
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

@import '/home/hazelnut/.cache/wal/colors-waybar.css';

window#waybar {
    background: transparent;
    color: @foreground;
}

#workspaces {
    background-color: @color1;
    border-radius: 50px;
    padding:2px 3px;
    font-size:13px;
}

#workspaces button {
    padding-right: 12px;
}


#workspaces button.persistent {
    color: @foreground;
}

#workspaces button.empty {
    color: @color15;
}

#workspaces button.active {
    color: @color0;
    border-radius: 50px;
}

#custom-updates, #clock, #network, #battery, #pulseaudio, #custom-exit,  #idle_inhibitor {
    background-color: @color1;
    border-radius:50px;
    padding: 1px 10px;
    color: @color0;
    margin: 0 2px;
}

