@define-color foreground #cdd6f4;
@define-color background #1e1e2e;
@define-color active-workspace #cba6f7;
@define-color empty-workspace #6c7086;
@define-color persistant-workspace #f2cdcd;
@define-color bg-tray-color #89b4fa;
@define-color fg-tray-color #89b4fa;
@define-color yellow #fab387;
@define-color green #a6e3a1;
@define-color red #f38ba8;
@define-color color1 #000;
@define-color color2 #000;
@define-color color3 #000;
@define-color color4 #000;
@define-color color5 #000;
@define-color color6 #000;
@define-color color7 #000;
@define-color color8 #000;
@define-color color9 #000;
@define-color color10 #000;
@define-color color11 #000;
@define-color color12 #000;
@define-color color13 #000;
@define-color color14 #000;
@define-color color15 #000;

* {
    font-family: FontAwesome, Roboto, "MonaspiceNeNerdFont" , "MonaspiceRnNerdFont",  Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* @import '/home/hazelnut/.cache/wal/colors-waybar.css'; */

window#waybar {
    font-family: "MonaspiceNeNerdFont";
    font-style: normal;
    background: transparent;
    color: @foreground;
}

#workspaces {
    background-color: @background;
    border-radius: 50px;
    padding: 0px 3px 0 3px;
    font-size: 13px;
}

#workspaces button {
    padding-right: 12px;
}

#workspaces button.persistent {
    border-radius: 50px;
    color: @persistant-workspace;
}

#workspace button.persistant:hover{
    background-color: @foreground;
}

#workspaces button.empty {
    color: @empty-workspace;
}

#workspaces button.active {
    color: @active-workspace;
    border-radius: 50px;
}

#taskbar{
    background: @foreground;
    padding: 1px 2px;
    margin-right:10px;
    border-radius: 50px;
}

#taskbar button:hover{
    background: @background;
    border-radius: 50px;
}

#window{
    font-family: "MonaspiceNeNerdFont";
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

#custom-updates,
#clock,
#network,
#bluetooth,
#battery,
#pulseaudio,
#custom-exit,
#idle_inhibitor, #tray, #hardware {
    background-color: @background;
    border-radius: 50px;
    padding: 0 10px 0 10px;
    color: @foreground;
    margin: 0 2px;
}

#custom-exit {
    padding:0 12px 0 9px;
}

#idle_inhibitor{
    padding: 0 12px 0 9px;
}

#battery.charging, #battery.plugged, #pulseaudio.half, #custom-updates.yellow{
    color: @yellow;
}

#battery.good, #pulseaudio.full, #custom-updates{
    color: @green;
}


#battery.critical:not(.charging), #pulseaudio.mute, #custom-updates.red {
    color: @red;
}


#network.disconnected {
    background-color: @red;
    color: @backgroud;
}

