@import url("./colors.css");

* {
    all: unset;
    font-size: 12px;
    font-family: 'Inter';
    animation-timing-function: steps(12);
    animation-duration: 0.3s;
    transition: all 0.3s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

window#waybar {
    font-family: "MonaspiceNeNerdFont";
    font-style: normal;
    background: @mantle;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: @base;
    border: 1px solid @surface1;
}

button {
    border: none;
    border-radius: 1;
}

button:hover {
    background-color: @green;
}

#workspaces button {
    padding: 0 10px;
    margin:3px 0;
    background-color: transparent;
    color: @text;
    border-radius: 10px;
}

#workspaces button:hover {
    color:@green;
}

#workspaces button.focused {
    background-color: @green
}

#workspaces button.active {
    background-color: @mauve;
    color: @base;
}


#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @mantle);
}

#taskbar button {
    padding: 0 5px;
    margin: 0 2px;
}

#taskbar button.active {
    background-color: @overlay0;
}

#workspaces {
    background-color: transparent;
    padding: 0px 3px 0 3px;
    font-size: 13px;
}

#workspaces button {
    padding-right: 12px;
}

#workspaces button.persistent {
    color: @persistant-workspace;
}

#workspace button.persistant:hover{
    background-color: @foreground;
}

#workspaces button.empty {
    color: @empty-workspace;
}

#workspaces button.active {
    color: @active-workspace;
}

#taskbar{
    background: @foreground;
    padding: 1px 2px;
    margin-right:10px;
}

#taskbar button:hover{
    background: @background;
    border-radius: 50px;
}

#window{
    font-family: "MonaspiceNeNerdFont";
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

#custom-updates, #mpris,
#custom-weather,
#clock,
#battery,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#disk,
#custom-kernel,
#idle_inhibitor,
#scratchpad,
#mode,
#tray,
#custom-exit,#hardware, #power-profiles-daemon{
    padding: 0 5px;
    margin: 3px 0px;
    color: @text;
}

#custom-exit {
    padding:0 12px 0 9px;
}

#idle_inhibitor{
    padding: 0 12px 0 9px;
}

#battery{
    color: @base;
}

#battery.good:not(.charging), #pulseaudio, #power-profiles-daemon.performance{
    color: @green;
}

#battery.warning:not(.charging), #custom-updates.yellow{
    color: @yellow;
}

#battery.critical:not(.charging),  #pulseaudio.mute, #custom-updates.red, #power-profiles-daemon.power-saver{
    color: @red;
}

#battery.charging, #battery.plugged, #pulseaudio.half, #power-profiles-daemon.balenced {
    color: @mauve;
}

#network.disconnected {
    color: @background;
}

@keyframes blink {
    to {
        background-color: @mantle;
        color: @text;
    }
}

label:focus {
    background-color: @mantle;
}

#cpu {
    background-color: @mauve;
    color: @mantle;
    min-width: 45px;
}

#memory {
    background-color: @red;
    color: @mantle;
}

#disk {
    background-color: @flamingo;
    color: @mantle;
}

#network.disconnected {
    background-color: red;
    color: @mantle;
}

#bluetooth {
    color: @blue;
}

#bluetooth.disabled{
    color: @red;
}

#pulseaudio {
    /* background-color: @yellow; */
    color: @subtext0;
}

#pulseaudio.muted {
    color: @red;
}

#temperature {
    background-color: @pink;
    color: @mantle;
    min-width: 37px;
}

#temperature.critical {
    background-color: red;
    color: @mantle;
    min-width: 37px;
}

#mpris {
    background-color: @base;
    color: @text;
}

#tray {
    background-color: @overlay0;
    color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @mantle;
}

#idle_inhibitor {
    background-color: @base;
    color: @text;
    font-family: Inter;
}

#idle_inhibitor.activated {
    background-color: @text;
    color: @base;
}

#scratchpad {
    background-color: @base;
    color: @text;
}

#scratchpad.empty {
    background-color: transparent;
}
